#topMenu{
    height:30px;
}
#topMenu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#topMenu ul li{
    color:white;
    background-color: #2d2d2d;
    float:left;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    position:relative;
}

.menuLink, .submenuLink{
    text-decoration: none;
    display: block;
    width:150px;
    font-size:12px;
    font-weight: bold;
}
.menuLink{
    color:white;
}
.topMenuLi:hover .menuLink{
    color:blue;
    background-color: skyblue;
}
.longLink{
    width:190px;
}
.submenuLink{
    color:#2d2d2d;
    background-color: white;
    border: solid 1px black;
    margin-right: -1px;
}

.submenu{
    position: absolute;
    height: 0px;
    overflow: hidden;
    transition: height .2s;
    -webkit-transition: height .2s;
    -o-transition: height .2s;
    width:574px;
}

.submenu li{
    display: inline-block;
}

.topMenuLi:hover .submenu{
    height:32px;
}
.submenuLink:hover {
    color:red;
    background-color: #dddddd;
}