.moving{
    width:100%;height:500px;
    background:url('./img/bg.png') 0 center / 500px repeat-x;
    animation: movebg 2s linear infinite;
}

@keyframes movebg{
    0% {background-position:0 center;}
    100% {background-position: -500px center;}
}